#root {
  margin: 0 auto;
  padding: 2rem;
  max-width: 800px;
  font-family: Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

input,
textarea {
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

nav.tabs {
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
}

.demo pre {
  background: #f7f7f7;
  padding: 0.5rem;
  overflow-x: auto;
}


.results ul {
  list-style: none;
  padding: 0;
}

.results li {
  margin-bottom: 0.5rem;
}
